<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        
          <h3><a href="/" class="logo">Gym<span>flex</span></a></h3>
            
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
            </li>--> 
            <li class="nav-item">
              <a  href="/logout" class="btn btn-light btn-sm">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">

      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"style="font-size:100px;" ></span> <%= user.local.nombre %> <%= user.local.apellido %> </h3>
              <p>
                <strong>id</strong> : <%= user._id %> <br>
                <strong>nombre</strong> : <%= user.local.nombre %> <br>
                <strong>apellido</strong> : <%= user.local.apellido %> <br>
                <strong>dni</strong> : <%= user.local.dni %> <br>
                <strong>edad</strong> : <%= user.local.edad %> <br>
                <strong>celular</strong> : <%= user.local.celular %> <br>
                <strong>email</strong> : <%= user.local.email %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>